
.footer-body{
    background-color: rgb(43, 43, 43);
    text-align: center;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;


}
.footer-body p {
    font-size: 14px;
    color: white;
}
.footer-body a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}


.footer-body .footer-links{
    display:  flex;
    gap: 1rem;
}
