/* .admin-service-container{
  padding-top: 100px;
}

.admin-service-container-header{
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  
}

.admin-service-container-header h1{
  font-size: 28px;
}

.admin-service-container-header button{
  background-color: #4CAF50;
      color: white;
      border: none;
      font-size: 16px;
      padding: 10px 15px;
      border-radius: 5px;
}


.admin-service-body{
  padding: 3rem 5rem;
  text-align: left;
}

.admin-service-card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-service-card{
  border: 1px solid rgb(230, 230, 230);
  margin-bottom: 3rem;
  border-radius: 5px;
  padding: 1rem 3rem;
}



.admin-service-card button{
  background-color: #4CAF50;
      color: white;
      border: none;
      font-size: 16px;
      padding: 10px 15px;
      border-radius: 5px;
}
.admin-service-card h1{
  font-size: 22px;
}


.admin-service-card p{
  font-size: 16px;
}
.admin-service-card .price{
  font-size: 18px;
  font-weight: bold;
}


.create-service-model-container{
  width: 100%;
  position: fixed;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.253);
  z-index: 10000;

}
.create-service-model{
  position: relative;
  background: white;
  border-radius: 5px;
  padding: 1rem;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

}

.create-service-model-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-service-model-header h1{
  font-size: 24px;
}
.create-service-model-header span{
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}


.service-ip-box{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 2rem;
  font-size: 16px;
}



.create-service-model button{
  background-color: #4CAF50;
      color: white;
      border: none;
      font-size: 16px;
      padding: 10px 15px;
      border-radius: 5px;
} */

.admin-service-container{
  padding-top: 100px;
}
 
.admin-service-container-header{
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
 
}
 
.admin-service-container-header h1{
  font-size: 28px;
}
 
.admin-service-container-header button{
  background-color: #4CAF50;
      color: white;
      border: none;
      font-size: 16px;
      padding: 10px 15px;
      border-radius: 5px;
}
 
 
.admin-service-body{
  padding: 3rem 5rem;
  text-align: left;
}
 
.admin-service-card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
 
.admin-service-card{
  border: 1px solid rgb(230, 230, 230);
  margin-bottom: 3rem;
  border-radius: 5px;
  padding: 1rem 3rem;
  box-shadow: 0px 0px 8px #e7e0e0;
}
 
 
 
.admin-service-card button{
  background-color: #4CAF50;
      color: white;
      border: none;
      font-size: 13px;
      padding: 10px 15px;
      border-radius: 5px;
}
.admin-service-card h1{
  font-size: 22px;
}
 
 
.admin-service-card p{
  font-size: 16px;
}
.admin-service-card .price{
  font-size: 18px;
  font-weight: bold;
}
 
 
.create-service-model-container{
  width: 100%;
  position: fixed;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.253);
  z-index: 10000;
 
}
.create-service-model{
  position: relative;
  background: white;
  border-radius: 5px;
  padding: 1rem;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
 
}
 
.create-service-model-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.create-service-model-header h1{
  font-size: 24px;
}
.create-service-model-header span{
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
 
 
.service-ip-box{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 2rem;
  font-size: 16px;
}
 
 
 
.create-service-model button{
  background-color: #4CAF50;
      color: white;
      border: none;
      font-size: 16px;
      padding: 10px 15px;
      border-radius: 5px;
}
 
.edit-service-model-container{
  width: 100%;
  position: fixed;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.253);
  z-index: 10000;
}
 
.edit-service-model{
  position: relative;
  background: white;
  border-radius: 5px;
  padding: 1rem;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
 
.edit-service-model-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.edit-service-model-header h1{
  font-size: 24px;
}
 
.edit-service-model-header span{
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
 
.service-ip-box{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 2rem;
  font-size: 16px;
}
 
.edit-service-model button{
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
}
 
.admin-service-card-header-btns{
  display: flex;
  justify-content: space-between;
  width: 30%;
}